
<div class="card flex-row friend-card">
     <div class="card-header border-0">
       <a href={{friend.url}} target="_blank"><img src={{friend.picture}}  onerror="this.src='assets/img/error.jpg';" class="friend-img" alt="..."></a>
     </div>
     <div class="card-block px-2">
         <p class="card-text text-truncate friend-name">{{friend.name}}</p>
         <div *ngIf="friend.selected==false">
         <a (click)="selectFriend()" class="btn btn-primary friend-select white">Select</a>
         </div>
         <div *ngIf="friend.selected==true">
         <a (click)="removeFriend()" class="btn btn-primary friend-select white">Remove</a>
         </div>
     </div>
 </div>
